{{ define "main" }}
<div class="jumbotron">
    <h1 class="display-4">{{ .Site.Title }}</h1>
    <p class="lead">Hello there</p>
    <hr class="my-4">
    <p>I am some juan you may not know, or you may. I just wanted to say hello, like many other places in the internet this is just juan place to host my opinions and learnings. I hope in some way this provides value to you.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/posts/" role="button">Learn more</a>
    </p>
</div>
{{ end }}